<button (click)="showMessage()">test abc</button>
<div ng-if="students">
  <div *ngFor="let student of students  | async; index as i;">
    <span>{{student.stt}}</span>
    <span>{{student.name}}</span>
    <span>{{student.age}}</span>
  </div>
</div>

<section class="section">
  <div class="container">
    <h1 class="title">
      Hello World
    </h1>
    <div class="buttons">
      <button class="button is-primary">Primary</button>
      <button class="button is-link">Link</button>
    </div>

    <div class="buttons">
      <button class="button is-info">Info</button>
      <button class="button is-success">Success</button>
      <button class="button is-warning">Warning</button>
      <button class="button is-danger">Danger</button>

      <a class="button is-small">
        Button
      </a>
      <a class="button">
        Button
      </a>
      <a class="button is-medium">
        Button
      </a>
      <a class="button is-large">
        Button
      </a>
    </div>


  </div>
</section>

